<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div class="row link-btn" style="margin: 35px 0 10px 0;">
            {{#if pollsOpen}}
            <a target="_blank" href="https://app.rankedvote.co/rv/jnpu3sz1ze1cnkxwya/vote"
                class="btn btn-lg btn-success col-3">Vote Now!! </a>
            {{else}}
            <a target="_blank"
                href="https://app.rankedvote.co/rv/jnpu3sz1ze1cnkxwya/vote?preview=true"
                class="btn btn-lg btn-success col-3">Preview Ballot </a>
            {{/if}}
            <p class="col-8" style="margin: 0;">
                Voting will begin Monday, Nov 20, 2023 <br> Voting will end Monday, Dec 4, 2023 </p>
        </div>
        <div class="row">
            {{#each candidates}}
            <div id="candidate-{{@index}}" class="col-12" style="margin: 10px 0 10px 0; scroll-margin-top: 75px;">
                <h2> {{ name }} </h2>
                <p style="font-weight: bold; font-style: italic;">
                    <span class="iconify" data-icon="mdi-account" style="margin: 0 5px 0 0;"></span>{{ title }}
                    <br> <span class="iconify" data-icon="mdi-domain" style="margin: 0 5px 0 0;"></span>{{org}}
                    <br> <span class="iconify" data-icon="mdi-earth" style="margin: 0 5px 0 0;"></span>{{country}}
                </p>
                <p>{{{motivation}}}</p>
                <div>
                    <button id="toggle-overview" class="btn btn-secondary btn-light-gray col-12" type="button"
                        onclick="toggleCandidateExperience('{{@index}}')">Technical
                        Experience (show/hide)</button>
                </div>
                <div id="experience-{{@index}}" class="experience-group" style="display: none;">
                    <div class="row">
                        {{#each experience}}
                        <div class="col-5" style="margin: 10px 0 10px 0;">
                            <p><span style="font-weight: bold;">{{title}}</span><br>{{{text}}}</p>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>

        <div class="row link-btn" style="margin: 35px 0 10px 0;">
            {{#if pollsOpen}}
            <a target="_blank" href="https://app.rankedvote.co/rv/jnpu3sz1ze1cnkxwya/vote"
                class="btn btn-lg btn-success col-3">Vote Now!! </a>
            {{else}}
            <a target="_blank"
                href="https://app.rankedvote.co/rv/jnpu3sz1ze1cnkxwya/vote?preview=true"
                class="btn btn-lg btn-success col-3">Preview Ballot </a>
            {{/if}}
            <p class="col-8" style="margin: 0;">
                Voting will begin Monday, Nov 20, 2023 <br> Voting will end Monday, Dec 4, 2023 </p>
        </div>
    </div>
</section>

<script type="text/plain" cookie-consent="strictly-necessary">
    function toggleCandidateExperience(index) {
        var showID = 'experience-' + index
        var allIds = $('.experience-group').toArray().map((x) => x.id)

        if ($('#' + showID).css('display') == 'none') {
            toggleVisibleXor(showID, allIds, 0);
        } else {
            setVisible(showID, false);
        }

        $('#candidate-' + index)[0].scrollIntoView({ block: "start", behavior: "smooth" });
    }
</script>