<section class="module-extra-small">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="module-subtitle">
                    <p class="justified" style="padding: 0 11px;">
                        Welcome to the BrAPI APPlication showcase, or BrAPPs for short. Each of these BrAPPs is an
                        independent tool which can run on its own or can be easily integrated with a larger system. And
                        of course, each BrAPP is completely BrAPI driven and can be used with any BrAPI-compliant
                        system. The goal is to keep the BrAPI community informed about what tools are available and
                        encourage functionality sharing. If you have a BrAPP you would like to share with the community
                        please reach out to
                        <a href="mailto:brapicoordinatorselby@gmail.com">a BrAPI Coordinator</a>
                    </p>
                    <p>
                        <a class="btn btn-d btn-round" style="margin-left:10px"
                            href="https://plantbreedingapi.slack.com">Suggest New BrAPP Idea</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" id="brapp-grid" style="margin-bottom: 30px;">
            {{#each brapps}}
            <div class="col-12 brapp">
                <div class="row brapp-box">
                    <div class="brapp-thumbnail col-12 col-md-4">
                        <a href="{{ url }}" target="_blank">
                            <img src="{{ image }}" alt="{{ title }}">
                        </a>
                    </div>
                    <div class="brapp-header col-12 col-md-8">
                        <h2>
                            <a href="{{ url }}" target="_blank">{{ title }}</a>
                        </h2>
                        <p>From <a href="{{ team-url }}"> {{ team }} </a> </p>
                        <p>{{{ description }}}</p>
                        <div class="brapp-links row">
                            {{#if demo-url}}
                            <div class="col-12 col-md-4 col-3" style="margin: 0 0 5px 0;">
                            <a href="{{ demo-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                Demonstration Site </a>
                                </div>
                            {{/if}}
                            {{#if source-url}}
                            <div class="col-12 col-md-4 col-3" style="margin: 0 0 5px 0;">
                            <a href="{{ source-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                Source Code Repo </a>
                                </div>
                            {{/if}}
                            {{#if doc-url}}
                            <div class="col-12 col-md-4 col-3" style="margin: 0 0 5px 0;">
                            <a href="{{ doc-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                User Documentation </a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    <div id="{{ title }}" class="col-12 brapp-details" style="display: none;">
                        <div style="margin-top: 15px">
                            <p>BrAPI Dependencies</p>
                            {{#each dependencies}}
                            <p>{{ version }} - {{ call }}</p>
                            {{/each}}
                        </div>
                    </div>
                    <div class="brapp-details-btn" style="margin-bottom: 10px;">
                        <button id="toggle-{{ title }}" class="btn btn-secondary btn-light-gray" type="button"
                            onclick="toggleVisible('{{ title }}', 'toggle-{{ title }}', 'Less', 'Details')">
                            <span class="iconify" data-icon="mdi-chevron-double-down"></span> Details <span
                                class="iconify" data-icon="mdi-chevron-double-down"></span>
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>