<section class="module-small">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="module-subtitle">
                    <p>Welcome to the BrAPI Application Showcase, or BrAPPs for short. Each of these BrAPPs is an
                        independent tool which can run on its own or can be easily integrated with a larger system. And
                        of course, each BrAPP is completely BrAPI driven
                        and can be used with any BrAPI-compliant system. The goal is to keep the BrAPI community
                        informed about what tools are available and encourage functionality sharing. If you have a BrAPP
                        you would like to share with the community
                        please reach out to
                        <a href="mailto:brapicoordinatorselby@gmail.com">a BrAPI Coordinator</a>
                    </p>
                    <p>
                        <a class="btn btn-d btn-round" style="margin-left:10px"
                            href="https://plantbreedingapi.slack.com">Suggest New BrAPP Idea</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="row" id="brapp-grid">
                    {{#each brapps}}
                    <div class="col-xs-12 brapp">
                        <div class="brapp-box">
                            <div class="brapp-thumbnail col-xs-12 col-md-4">
                                <a href="{{ url }}" target="_blank">
                                    <img src="{{ image }}" alt="{{ title }}">
                                </a>
                            </div>
                            <div class="brapp-header font-alt col-xs-12 col-md-8">
                                <h2>
                                    <a href="{{ url }}" target="_blank">{{ title }}</a>
                                </h2>
                                <p>From <a href="{{ team-url }}"> {{ team }} </a> </p>
                                <p>{{{ description }}}</p>
                            </div>
                            <div class="col-xs-12 col-md-8 brapp-links">
                                {{#if demo-url}}
                                <a href="{{ demo-url }}" target="_blank">
                                    <button class="btn btn-d btn-round" type="button">Demonstration Site</button>
                                </a>
                                {{/if}}
                                {{#if source-url}}
                                <a href="{{ source-url }}" target="_blank">
                                    <button class="btn btn-d btn-round" type="button">Source Code Repo</button>
                                </a>
                                {{/if}}
                                {{#if doc-url}}
                                <a href="{{ doc-url }}" target="_blank">
                                    <button class="btn btn-d btn-round" type="button">User Documentation</button>
                                </a>
                                {{/if}}
                            </div>
                            <div id="{{ title }}" class="col-xs-12 brapp-details">
                                <div style="margin-top: 15px">
                                    <p>BrAPI Dependencies</p>
                                    {{#each dependencies}}
                                    <p>{{ version }} - {{ call }}</p>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="brapp-details-btn">
                                <button id="toggle-{{ title }}" class="btn btn btn-round" type="button"
                                    onclick="toggleVisible('{{ title }}', 'toggle-{{ title }}', '&#x2B9D; Less &#x2B9D;', '&#x2B9F; Details &#x2B9F;')">&#x2B9F;
                                    Details &#x2B9F;</button>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>