<section class="module-extra-small">
    <div class="container">
        <div class="row justify-content-center">
            <p class="col-12" style="text-align: center; margin: 10px 0 10px 0;">Submit new BrAPI compatible software</p>
            <a href="/submitSoftware" class="btn btn-sm btn-outline-success col-10 col-sm-6 col-md-3">Register Software</a>
            <div class="col-12" style="border-bottom: solid lightgray 1px; margin: 30px 0"></div>
        </div>
        <div id="software-list" style="margin-bottom: 30px;">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-8 col-lg-6" style="margin: 10px 0 20px 0; position: relative;">
                    <input class="search" style="width: 100%;" placeholder="Search for BrAPI Compatible Software">
                    <span class="iconify custom-bullet-point" data-icon="mdi-magnify"
                        style="vertical-align: top; line-height: 30px; position: absolute; right: 10px;"></span>
                    <p id="list-size" style="margin: 0; font-size: small;">Showing X of Y</p>
                </div>
                <div class="col-8 row justify-content-center" style="margin: 5px 0 20px 0; display: none;">
                    <p class="col-12" style="text-align: center; margin: 5px 0 0 0;">Filter by popular tags</p>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">BrAPP</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Server</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Client</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Service</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Desktop</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Mobile</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Visualization</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Analytics</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Data Input</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Search</button>
                </div>
            </div>

                <div class="col-12" style="margin: 10px 0 0 0"> Sort By: 
                    <span class='sort btn btn-sm btn-outline-secondary col-4 col-sm-3 col-md-2 col-lg-1' data-sort='software-date'>Date
                        <span class="sort-sym iconify" data-icon="mdi-sort-calendar-ascending" style="line-height: 20px; font-size:20px; vertical-align: middle; display: none;"></span>
                        <span class="sort-sym iconify" data-icon="mdi-sort-calendar-descending" style="line-height: 20px; font-size:20px; vertical-align: middle;"></span>
                    </span>
                    <span class='sort btn btn-sm btn-outline-secondary col-4 col-sm-3 col-md-2 col-lg-1' data-sort='software-title'>Name
                        <span class="sort-sym iconify" data-icon="mdi-sort-alphabetical-descending" style="line-height: 20px; font-size:20px; vertical-align: middle; display: none;"></span>
                        <span class="sort-sym iconify" data-icon="mdi-sort-alphabetical-ascending" style="line-height: 20px; font-size:20px; vertical-align: middle; display: none;"></span>
                    </span>
                    <span class='sort btn btn-sm btn-outline-secondary col-4 col-sm-3 col-md-2 col-lg-1' data-sort='software-team'>Team
                        <span class="sort-sym iconify" data-icon="mdi-sort-alphabetical-descending" style="line-height: 20px; font-size:20px; vertical-align: middle; display: none;"></span>
                        <span class="sort-sym iconify" data-icon="mdi-sort-alphabetical-ascending" style="line-height: 20px; font-size:20px; vertical-align: middle; display: none;"></span>
                    </span>
                </div>
            <ul class="list" style="list-style-type: none; padding: 0;">
                {{#each software}}
                <li class="row justify-content-center">
                    <div class="software-date" style="display: none;">{{ date }}</div>
                    <div class="col-12 brapp">
                        <div class="row justify-content-center brapp-box">
                            <div class="brapp-thumbnail col-12 col-md-4 justify-content-center" style="display: flex;">
                                <a href="{{ url }}" target="_blank">
                                    <span style="vertical-align: middle; display: inline-flex;height: 100%;"></span>
                                    <img {{#if image}}src="{{ image }}"{{else}}src="/images/brapi-clover-alpha-700x394.png"{{/if}} alt="{{ title }}" style="max-width:98%">
                                    <span style="vertical-align: middle; display: inline-flex;height: 100%;"></span>
                                </a>
                            </div>
                            <div class="brapp-header col-12 col-md-8">
                                <h2>
                                    <a href="{{ url }}" target="_blank" class="software-title">{{ title }}</a>
                                </h2>
                                <p>From <a href="{{ team-url }}" class="software-team"> {{ team }} </a> </p>
                                <p>{{{ description }}}</p>
                                <div class="brapp-links row">
                                    {{#if demo-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                    <a href="{{ demo-url }}" target="_blank"
                                        class="btn btn-sm btn-outline-success col-12">
                                        Demonstration Site </a>
                                    </div>
                                    {{/if}}
                                    {{#if source-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                    <a href="{{ source-url }}" target="_blank"
                                        class="btn btn-sm btn-outline-success col-12">
                                        Source Code Repo </a>
                                    </div>
                                    {{/if}}
                                    {{#if doc-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                    <a href="{{ doc-url }}" target="_blank"
                                        class="btn btn-sm btn-outline-success col-12">
                                        User Documentation </a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            
        </div>
    </div>
</section>
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {
        var options = {
            valueNames: [ 'software-title', 'software-team', 'software-date' ]
        };

        var softwareList = new List('software-list', options); 
        softwareList.sort('software-date', { order: "desc" });

        $('#list-size').html('Showing ' + softwareList.visibleItems.length + ' of ' + softwareList.size());
        softwareList.on('searchComplete', function(e){
            $('#list-size').html('Showing ' + softwareList.visibleItems.length + ' of ' + softwareList.size());
        });


        const toggleSortSymbol = function(event){
            var selectedChild;
            for(var child of $(event.currentTarget.children)){
                if($(child).css('display') === 'none'){
                    selectedChild = child;
                }
            }
            $('.sort-sym').hide()
            $(selectedChild).show()
        }
        $('.sort').on('click', toggleSortSymbol);
    });

</script>