<section class="module-extra-small">
    <div class="container">
        <div class="row justify-content-center">
            <p class="col-12" style="text-align: center; margin: 10px 0 10px 0;">Submit new BrAPI compatible software</p>
            <a href="/submitSoftware" class="btn btn-sm btn-outline-success col-10 col-sm-6 col-md-3">Register Software</a>
            <div class="col-12" style="border-bottom: solid lightgray 1px; margin: 30px 0"></div>
        </div>
        <div id="software-list" style="margin-bottom: 30px;">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-8 col-lg-6" style="margin: 10px 0 20px 0; position: relative;">
                    <input class="search" style="width: 100%;" placeholder="Search for BrAPI Compatible Software">
                    <span class="mdi--magnify search-icon"></span>
                    <p id="list-size" style="margin: 0; font-size: small;">Showing X of Y</p>
                </div>
            </div>

            <div class="row justify-content-between">
                <div class="col-6" style="margin: 10px 0 0 0"> 
                    <div class="col-9">
                    <span>Sort By:</span>
                    <span class='sort btn btn-sm btn-outline-secondary col-3' data-sort='software-date'>Date
                        <span class="sort-sym mdi--sort-calendar-ascending custom-bullet-point" style="display: none;"></span>
                        <span class="sort-sym mdi--sort-calendar-descending custom-bullet-point"></span>
                    </span>
                    <span class='sort btn btn-sm btn-outline-secondary col-3' data-sort='software-title'>Name
                        <span class="sort-sym mdi--sort-alphabetical-descending custom-bullet-point" style="display: none;"></span>
                        <span class="sort-sym mdi--sort-alphabetical-ascending custom-bullet-point" style="display: none;"></span>
                    </span>
                    <span class='sort btn btn-sm btn-outline-secondary col-3' data-sort='software-team-sortable-name'>Team
                        <span class="sort-sym mdi--sort-alphabetical-descending custom-bullet-point" style="display: none;"></span>
                        <span class="sort-sym mdi--sort-alphabetical-ascending custom-bullet-point" style="display: none;"></span>
                    </span>
                    </div>

                    <div class="col-12 badge-holder">
                        <span>Tags:</span>
                        
                        <div class="filter-show-all badge badge-selected" style="background-color: #777;">
                            <div class="mdi--check-bold custom-bullet-point" style="margin: 0;"></div>
                            <div class="badge-text">Show All</div>
                        </div>
                        {{#each allBadges }}
                        <div class="filter-{{@key}} badge" style="background-color: {{ badge-color }};">
                            <div class="{{ badge-icon-class }} custom-bullet-point" style="margin: 0;"></div>
                            <div class="badge-text">{{ badge-text }}</div>
                        </div>
                        {{/each}}
                    </div>

                </div>

                <div class="col-5" style="margin: 10px 0 0 0">
                    <ul class="pagination pagination-right pagination-top"></ul>
                </div>
            </div>

            <ul class="list" style="list-style-type: none; padding: 0;">
                {{#each software}}
                <li class="row justify-content-center">
                    <div class="software-date" style="display: none;">{{ date }}</div>
                    <div class="col-12 brapp">
                        <div class="row justify-content-center brapp-box">
                            <div class="brapp-thumbnail col-12 col-md-4 justify-content-center" style="display: flex;">
                                <a href="{{ url }}" target="_blank">
                                    <span style="vertical-align: middle; display: inline-flex;height: 100%;"></span>
                                    <img {{#if image}}src="{{ image }}" {{else}}src="/images/brapi-clover-alpha-700x394.png" {{/if}} alt="{{ title }}" style="max-width:98%; max-height:180px;">
                                    <span style="vertical-align: middle; display: inline-flex;height: 100%;"></span>
                                </a>
                            </div>
                            <div class="brapp-header col-12 col-md-8">
                                <h2>
                                    <a href="{{ url }}" target="_blank" class="software-title">{{ title }}</a>
                                </h2>
                                <p>From <a href="{{ team-url }}" class="software-team"> {{ team }} </a> </p>
                                <span class="software-team-sortable-name" style="display: none;">{{teamSortableName}}</span>
                                <p>{{{ description }}}</p>
                                <div class="row justify-content-center" style="margin-top: 5px">
                                    <div class="col-12 badge-holder">
                                        {{#each badgeDetails }}
                                        <div class="badge" style="background-color: {{ badge-color }};">
                                            <div class="{{ badge-icon-class }} custom-bullet-point" style="margin: 0;"></div>
                                            <div class="badge-text">{{ badge-text }}</div>
                                            <div class="badge-id-{{@key}}" style="display: none;">{{@key}}</div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="brapp-links row">
                                    {{#if demo-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                        <a href="{{ demo-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                            Demonstration Site </a>
                                    </div>
                                    {{/if}}
                                    {{#if source-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                        <a href="{{ source-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                            Source Code Repo </a>
                                    </div>
                                    {{/if}}
                                    {{#if doc-url}}
                                    <div class="col-12 col-sm-6 col-md-4" style="padding: 1px;">
                                        <a href="{{ doc-url }}" target="_blank" class="btn btn-sm btn-outline-success col-12">
                                            User Documentation </a>
                                    </div>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>

            <div class="col-12">
                <ul class="pagination pagination-right pagination-bottom"></ul>
            </div>
        </div>
    </div>
</section>

<input id="allBadgesStr" type="hidden" name="utrc" value = "{{allBadgesStr}}" >
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {

        var badgeList= JSON.parse($('#allBadgesStr').val());
        var badgeIds = [];
        for (badgeId of Object.keys(badgeList)){
            badgeIds.push("badge-id-" + badgeId)
        }

        options = {
            valueNames: [ 'software-title', 'software-team', 'software-date', 'software-team-sortable-name' ].concat(badgeIds),
            searchColumns: [ 'software-title', 'software-team' ].concat(badgeIds),
            page: 10,
            pagination: [{
                paginationClass: "pagination-top",
                innerWindow: 1000
                }, {
                paginationClass: "pagination-bottom",
                innerWindow: 1000
                }]
            };

        var softwareList = new List('software-list', options); 
        softwareList.sort('software-date', { order: "desc" });

        $('#list-size').html('Showing ' + softwareList.matchingItems.length + ' of ' + softwareList.size());        
        softwareList.on('updated', function(e){
            $('#list-size').html('Showing ' + softwareList.matchingItems.length + ' of ' + softwareList.size());
        });


        $('.sort').on('click', function(event){
            var selectedChild;
            for(var child of $(event.currentTarget.children)){
                if($(child).css('display') === 'none'){
                    selectedChild = child;
                }
            }
            $('.sort-sym').hide()
            $(selectedChild).show()
        });


        $("[class^=filter]").each(function( index ) {
            var filterId = $( this ).attr('class').replace(/.*filter-([^ ]+) .*/, "$1");
            $( this ).on('click', function() {
                if (filterId === "show-all"){
                    softwareList.filter()
                }
                else {
                    softwareList.filter(function(item) {
                        return item.values()["badge-id-" + filterId];
                    });
                }

                $("[class^=filter]").each(function( jndex ) {
                    $(this).removeClass("badge-selected");
                });
                $(this).addClass("badge-selected");
            });
        });

    });

</script>