<div id="event-list">
    <section class="module-extra-small bg-light">
        <div class="container">
            <div class="row">
                <h2 class="col-12">Upcoming Events</h2>
            </div>
            {{#each currentEvents}}
            <div class="row justify-content-center" style="margin: 20px 0 0 0">
                <div class="col-12 col-md-9 row">
                    <div class="col-6 col-sm-2" style="margin: 0 auto 20px auto;">
                        <img src="{{ image }}" alt="{{ title }} Thumbnail" />
                    </div>
                    <div class="callout-text-dark col-12 col-sm-10"
                        style="padding: 1px 0 0 0; {{#if showSponsors}} padding-top:7px; {{/if}}">
                        <h3 class="callout-title-dark">{{ title }}</h3>
                        <div>
                            <p style="margin: 0 0 0 10px;">
                                {{ date }}<br>
                                {{ location }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12" style="margin: 10px 0 0 0;">
                        {{{ description }}}
                    </div>
                    {{#if showSponsors}}
                    <div class="col-12"> 
                        Event Sponsors:
                        {{#each sponsorsLogos}}
                        <a target="_blank" href="{{ url }}">
                            <img src="{{ logo }}" alt="Sponsor" class="brapi-sponsor-tag-img" />
                        </a>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{#if links}}
                <div class="col-12 col-md-3">
                    {{#each links}}
                    <div class="callout-btn-box">
                        <a target="_blank" class="btn btn-d btn-round" style="width: 200px;" href="{{ url }}">
                            {{ name }}</a>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            <hr class="divider-w" style="margin: 30px 0 0 0;">
            {{/each}}
        </div>
    </section>
    {{#unless currentEvents}}
    <section class="module-extra-small bg-light">
        <div class="container">
            <div class="row">
                <div class="col-12">There are no upcoming events right now. Check back later and join the Mailing
                    list to receive updates.
                </div>
            </div>
        </div>
    </section>
    {{/unless}}
</div>

<div>
    <section class="module-extra-small bg-light">
        <div class="container">
            <div class="row" style="margin-bottom: 25px;">
                <h2 class="col-12">Past Events</h2>

                <div class="col-12" style="margin: 8px 0 0 0">
                    <button id="toggle-button" class="btn btn-secondary btn-light-gray" type="button"
                        onclick="toggleVisible('past-event-list', 'toggle-button', 'Show Less', 'Show More')">
                        {{#if currentEvents}}
                        <span class="mdi--chevron-double-down custom-bullet-point"></span> Show More <span class="mdi--chevron-double-down custom-bullet-point"></span>
                        {{else}}
                        <span class="mdi--chevron-double-up custom-bullet-point"></span> Show Less <span class="mdi--chevron-double-up custom-bullet-point"></span>
                        {{/if}}
                    </button>
                </div>
            </div>
            <div id="past-event-list" {{#if currentEvents}}style="display: none;" {{/if}}>
                {{#each pastEvents}}
                <div class="row justify-content-center" style="margin: 20px 0 0 0">
                    <div class="col-12 col-md-9 row">
                        <div class="col-6 col-sm-2" style="margin: 0 auto 20px auto;">
                            <img src="{{ image }}" alt="{{ title }} Thumbnail" />
                        </div>
                        <div class="callout-text-dark col-12 col-sm-10"
                            style="padding: 1px 0 0 0; {{#if showSponsors}} padding-top:7px; {{/if}}">
                            <h3 class="callout-title-dark">{{ title }}</h3>
                            <div class="row">
                                <div class="col-6">
                                    <p style="margin: 0 0 0 10px;">
                                        {{ date }}<br>
                                        {{ location }}
                                    </p>
                                </div>
                                {{#if showSponsors}}
                                <div class="col-5">Sponsored By: {{#each sponsorsLogos}}
                                    <a target="_blank" href="{{ url }}">
                                        <img src="{{ logo }}" alt="Sponsor" class="brapi-sponsor-tag-img" />
                                    </a>
                                    {{/each}}
                                </div>
                                {{/if}}
                            </div>
                        </div>
                        <div class="col-12" style="margin: 10px 0 0 0;">
                            {{{ description }}}
                        </div>
                    </div>
                    {{#if links}}
                    <div class="col-12 col-md-3">
                        {{#each links}}
                        <div class="callout-btn-box">
                            <a target="_blank" class="btn btn-d btn-round" style="width: 200px;" href="{{ url }}">
                                {{ name }}</a>
                        </div>
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                <hr class="divider-w" style="margin: 30px 0 0 0;">
                {{/each}}
            </div>
        </div>
    </section>
</div>