<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="row">
                    <div class="col" id="menu">
                        {{#each pages}}
                        <div>
                            <a href="/get-started/{{ @index }}">- {{ title }}</a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-8 col-lg-9" id="content">
                        <h2 class="module-title font-alt" id="title"> {{ page.title }} </h2>
                        {{{ page.html }}}

                        <div class="row justify-content-between">
                            {{#if prevHref}}
                            <div class="col-4" style="text-align: left;">
                                <a href="{{ prevHref }}" class="btn btn-sm btn-outline-success col-12">
                                    &lt;&lt; {{prevTitle}}
                                </a>
                            </div>
                            <div class="col-4" style="text-align: right;">
                                {{else}}
                                <div class="col-4" style="text-align: right;">
                                    {{/if}}
                                    <a href="{{ nextHref }}" class="btn btn-sm btn-outline-success col-12">
                                        {{nextTitle}} &gt;&gt;
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>