<section class="module-extra-small" id="get-started-intro">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">

                <div class="row">
                    <div class="col" id="menu">
                        {{#each pages}}
                        <div>
                            <a href="/get-started/{{ @index }}">- {{ title }}</a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col-8 col-lg-9" id="content">
                        <h2 class="module-title font-alt" id="title"> {{ page.title }} </h2>
                        {{{ page.html }}}

                        <div class="row justify-content-between">
                            {{#if prevHref}}
                            <div class="col" style="text-align: left;">
                                <a href="{{ prevHref }}">
                                    <button class="btn btn-info btn-border-d btn-round" type="button">
                                        &lt;&lt; {{ prevTitle }} </button>
                                </a>
                            </div>
                            <div class="col" style="text-align: right;">
                                {{else}}
                                <div class="col" style="text-align: right;">
                                    {{/if}}
                                    <a href="{{ nextHref }}">
                                        <button class="btn btn-info btn-border-d btn-round" type="button">
                                            {{ nextTitle }} &gt;&gt; </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>