<section class="module-extra-small">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9" id="brapi-posts">
                {{#if showList}}
                <div class="col-12"
                    style="margin: 5px 0 30px 0; text-align:center; border-bottom:1px solid rgb(201, 201, 201); padding: 15px 0 30px 0">
                    <p style="font-size: 16px; font-weight: bold;">Join the mailing list to receive BrAPI news directly
                        and support the community </p>
                    <a href="/contact" class="btn btn-sm btn-outline-success col-10 col-sm-6 col-lg-4">
                        Join the Mailing List
                    </a>
                </div>
                <div class="row justify-content-center">
                    <div class="col-10 col-sm-8 col-lg-6" style="margin: 10px 0 20px 0; position: relative;">
                        <input class="search" style="width: 100%;" placeholder="Search for BrAPI News">
                        <span class="mdi mdi-magnify custom-bullet-point"
                            style="vertical-align: top; line-height: 30px; position: absolute; right: 10px;"></span>
                        <p id="list-size" style="margin: 0; font-size: small;">Showing X of Y</p>
                    </div>
                    <ul class="pagination" style="margin: 0 0 20px 20px;"></ul>
                </div>

                <ul class="list" style="list-style-type: none; padding: 0;">
                    {{#each posts}}
                    <li class="row justify-content-center">
                        <div class="post" style="min-height: 55px; margin-bottom: 25px;">
                            <div class="post-header font-alt">
                                <span class="post-ISO8601" style="display: none;">{{ ISO8601 }}</span>
                                <a href="/news/{{ @key }}">
                                    <h2 class="post-title">{{ title }}</h2>
                                    <div class="post-meta">By
                                        <span class="post-author">{{ author }}</span> | <span class="post-date">{{ date
                                            }}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{else}}
                <a href="/news" style="margin: 10px 0;" class="btn btn-sm btn-outline-success col-6 col-sm-4 col-md-2">
                    &lt; Back
                </a>
                <div class="post" style="min-height: 55px; margin-bottom: 25px;">
                    <div class="post-header font-alt">
                        <h2 class="post-title">{{ post.title }}</h2>
                        <div class="post-meta">By {{ post.author }} | {{ post.date }}
                        </div>
                    </div>
                    <div class="post-entry">
                        {{{ post.article }}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</section>
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {
        var options = {
            valueNames: [ 'post-title', 'post-author', 'post-date', "post-ISO8601" ],
            page: 10,
            pagination: {'innerWindow': 1000}
        };

        var serverList = new List('brapi-posts', options); 
        serverList.sort('post-ISO8601', { order: "desc" });
        
        $('#list-size').html('Showing ' + serverList.matchingItems.length + ' of ' + serverList.size());
        serverList.on('searchComplete', function(e){
            $('#list-size').html('Showing ' + serverList.matchingItems.length + ' of ' + serverList.size());
        });
    });

</script>