<section class="module-extra-small" style="min-height: 470px;">
    <div class="container">
        <div id="submitServerContainer" class="row justify-content-center">
            <p class="col-7" style="color: black; margin: 10px 0; padding: 0;">
                Add a BrAPI compliant server to the list here. Please note all submissions are reviewed and will
                not appear immediately.
            </p>

            <div class="col-7" style="margin-top: 20px; margin-bottom: 10px;">
                <hr class="divider-w">
            </div>

            <form id="submitServerForm" class="row justify-content-center col-7">
                <div class="col-12" style="font-weight: 600;">
                    <input type="radio" id="existingOrgTrue" name="existingOrg" value="true" checked>
                    <label for="existingOrgTrue">Existing Organization</label><br>

                    <input type="radio" id="existingOrgFalse" name="existingOrg" value="false">
                    <label for="existingOrgFalse">New Organization</label><br>
                </div>

                <div class="row justify-content-center" id="existingOrgForm">
                    <label class="col-12 form-label" for="orgsList">Organization: </label>
                    <select class="col-11 input" name="orgsList" id="orgsList" style="color: #000;">
                        {{#each providers}}
                        <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                </div>

                <div id="newOrgForm" class="row justify-content-center" style="display: none;">
                    <label class="col-12 form-label" for="orgNameInput"> Organization Name:</label>
                    <input class="col-11 input" id="orgNameInput" type="text" name="orgName" />

                    <label class="col-12 form-label" for="orgDescInput"> Organization Description:</label>
                    <textarea class="col-11 input" id="orgDescInput" name="orgDesc"></textarea>

                    <label class="col-12 form-label" for="orgLogoInput"> Organization Logo URL:</label>
                    <input class="col-11 input" id="orgLogoInput" type="text" name="orgLogo" />
                </div>

                <div style="margin-top: 20px; margin-bottom: 10px;">
                    <hr class="divider-w">
                </div>

                <label class="col-12 form-label" for="serverNameInput"> Server Name<span
                        style="color: red;">*</span>:</label>
                <input class="col-11 input" id="serverNameInput" type="text" name="serverName" required />

                <label class="col-12 form-label" for="serverDescInput"> Server Description<span
                        style="color: red;">*</span>:</label>
                <textarea class="col-11 input" id="serverDescInput" name="serverDesc" required></textarea>

                <label class="col-12 form-label" for="serverV1Input"> Server V1 URL (ending with
                    "/brapi/v1"):</label>
                <input class="col-11 input" id="serverV1Input" type="url" name="serverV1Url" />

                <label class="col-12 form-label" for="serverV2Input"> Server V2 URL (ending with
                    "/brapi/v2"):</label>
                <input class="col-11 input" id="serverV2Input" type="url" name="serverV2Url" />
                <p id="urlError" class="col-11" style="color: red; display:none">One of the Server URLs does not resolve to a valid BrAPI
                    compatible end point. <br> Please confirm the URL is correct and try again.</p>

                <label class="col-12 form-label"> Badges:</label>
                <div class="row justify-content-center">
                    {{#each badges }}
                    <div class="col-12 col-md-6 col-lg-4" style="margin:auto">
                        <input id="badge-{{ @key }}" type="checkbox" name="badge-{{ @key }}" value="{{ @key }}"
                            style="float: left; margin: 12px 5px 0 5px;" />
                        <div class="badge-holder">
                            <div class="badge" style="background-color: {{ badge-color }};">
                                <div class="mdi {{ badge-icon-class }} badge-icon"></div>
                                <div class="badge-text"><label for="badge-{{ @key }}">{{ badge-text }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <label class="col-12 form-label" for="submitterEmailInput"> Contact Email <span
                        style="color: red;">*</span>:</label>
                <input class="col-11 input" id="submitterEmailInput" name="email" placeholder="john.doe@example.com"
                    required></input>
                <p style="margin: 0 0 0 25px">This email address is collected for maintenance purposes only.
                    Contact inforomation is never shared without express permission.</p>

                <input type="submit" value="Submit For Review" class="btn btn-sm btn-outline-success col-4"
                    style="margin: 20px auto;">
            </form>
        </div>
        <div id="loadingContainer" class="row justify-content-center" style="display: none;">
            <span class="spinner-border text-dark" role="status"></span>
        </div>
        <div id="finishContainer" class="row justify-content-center" style="display: none;">
            <p class='col-7' style='color: black;'>Thanks For Submitting a new Server! Your submission is being reviewed
                and will be added to the public list soon. <br /> If you have any questions or concerns, please <a
                    href='/contact'>Contact Us</a><br /> <a href='/servers'>Return to Server List</a>
            </p>
        </div>
    </div>
</section>
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {

        $("#existingOrgTrue").click(function(){
            $("#existingOrgForm").show();
            $("#newOrgForm").hide();
        });

        $("#existingOrgFalse").click(function(){
            $("#existingOrgForm").hide();
            $("#newOrgForm").show();
        });

        $("#submitServerForm").submit(function (event) {
            $("#submitServerContainer").hide();
            $("#loadingContainer").show();
            $("#finishContainer").hide();

            if($('#serverV1Input').val() || $('#serverV2Input').val()){
                try{
                    var serverStr = JSON.stringify({'server-v1-url': $('#serverV1Input').val(),'server-v2-url': $('#serverV2Input').val()});
                    var req = {
                        method: 'POST', 
                        body: serverStr,
                        headers: {
                            "Content-Type": "application/json",
                        }
                    }
                    fetch("/api/testEndpoint", req)
                    .then(response => response.json())
                    .then(data => {
                        var passTest = true;
                        if($('#serverV1Input').val() && data['v1Res'].status && data['v1Res'].status != 200)
                            passTest = false;
                        if($('#serverV2Input').val() && data['v2Res'].status && data['v2Res'].status != 200)
                            passTest = false;
                        if(passTest){
                            var req = $(this).serializeArray();
                            $.post('/api/newServerSubmit', req, function (data, status) {
                                $("#submitServerContainer").hide();
                                $("#loadingContainer").hide();
                                $("#finishContainer").show();
                            });
                        }else{
                            serverURLError();
                        }
                    })
                    .catch(error => {
                        serverURLError();
                    });
                }catch (error){
                    serverURLError();
                }
            }else{
                serverURLError();
            }

            event.preventDefault();
        });
    });

    function serverURLError(){
        $("#submitServerContainer").show();
        $("#loadingContainer").hide();
        $("#finishContainer").hide();
        $("#urlError").show();
    }

</script>