<section class="module-extra-small">
    <div class="container">
        <div class="row justify-content-center">
            <p class="col-12" style="text-align: center; margin: 10px 0 10px 0;">Submit a new BrAPI compatible server
            </p>
            <a class="btn btn-sm btn-outline-success col-10 col-sm-6 col-md-3" href="/servers/submit">Register Server</a>
            <p class="col-12" style="text-align: center; margin: 0;"><a style="font-size: 12px;" target="_blank"
                    href="/json/brapi-resources.json">Get this list as JSON</a></p>
            <div class="col-12" style="border-bottom: solid lightgray 1px; margin: 20px 0"></div>
        </div>

        <div id="servers-list" style="margin-bottom: 30px;">
            <div class="row justify-content-center">
                <div class="col-11 col-sm-8 col-lg-6" style="margin: 10px 0 20px 0; position: relative;">
                    <input class="search" style="width: 100%;" placeholder="Search for BrAPI Servers">
                    <span class="mdi--magnify search-icon"></span>
                    <p id="list-size" style="margin: 0; font-size: small;">Showing X of Y</p>
                </div>
                <div class="col-8 row justify-content-center" style="margin: 5px 0 20px 0; display: none;">
                    <p class="col-12" style="text-align: center; margin: 5px 0 0 0;">Filter by popular tags</p>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">BrAPP</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Server</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Client</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Service</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Desktop</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Mobile</button>
                    <button class="btn btn-sm btn-outline-success col-2"
                        style="margin: 5px 5px 0 5px;">Visualization</button>
                    <button class="btn btn-sm btn-outline-success col-2"
                        style="margin: 5px 5px 0 5px;">Analytics</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Data
                        Input</button>
                    <button class="btn btn-sm btn-outline-success col-2" style="margin: 5px 5px 0 5px;">Search</button>
                </div>
            </div>

            <ul class="list" style="list-style-type: none; padding: 0;">
                {{#each providers}}
                {{#each resources}}
                <li class="row justify-content-center">
                    <div class="col-12 brapp">
                        <div class="row brapp-box justify-content-center">
                            <div class="col-10 col-md-3 col-lg-2" style="display: inherit;">
                                <div class="provider-thumbnail">
                                    {{#if ../logo }}
                                    <span></span>
                                    <img src="{{ ../logo }}" alt="{{ ../name }} Thumbnail" style="min-width: 130px;">
                                    {{else}}
                                    <span class="mdi--account-group" style="width:120px; height:120px"></span>
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-12 col-md-9 col-lg-10 brapp-header">
                                <h2 class="server-title">{{ name }}</h2>
                                <p class="server-id" style="display: none;">{{ id }}</p>
                                <p class="org-name" style="margin-left: 15px;">Hosted by: {{ ../name }}</p>
                                <p style="margin-left: 15px;">{{{ ../description }}}</p>
                                <div id="servers-for-{{ id }}" class="col-11"
                                    style="display: block; margin-left: 15px;">
                                    <div class="row justify-content-center" style="margin-top: 5px">
                                        <div class="col-12 badge-holder">
                                            {{#each badges }}
                                            <div class="badge" style="background-color: {{ badge-color }};">
                                                <div class="{{ badge-icon-class }} custom-bullet-point" style="margin: 0;"></div>
                                                <div class="badge-text">{{ badge-text }}</div>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                                <p style="margin: 10px 0 0 15px;">{{{ description }}}</p>
                            </div>
                            <div class="col-12">
                                {{#if v1-url }}
                                <div id="{{ id }}-v1" class="row">
                                    <div class="server-status col-12 col-md-3 col-lg-2"
                                        style="margin-top: auto; margin-bottom: auto;">
                                        V1 Base URL
                                        <span style="margin: 2px;">
                                            <span class="spinner-border spinner-border-sm text-dark" role="status">
                                            </span>
                                            <span class="status-ok"
                                                style="display: none; font-size: 11px; font-weight: bold; color: #00990d;">
                                                <span class="mdi--check-bold custom-bullet-point" style="margin: 0;"></span>200
                                            </span>
                                            <span class="status-not-authorized"
                                                style="display: none; font-size: 11px; font-weight: bold; color: #0010c5">
                                                <span class="mdi--lock custom-bullet-point" style="margin: 0;"></span>401
                                            </span>
                                            <span class="status-not-found"
                                                style="display: none; font-size: 11px; font-weight: bold; color:#c50000">
                                                <span class="mdi--alert-decagram custom-bullet-point" style="margin: 0;"></span>404
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-10" style="margin-top: 8px;">
                                        <a target="_blank" href="{{ v1-url }}calls">
                                            <pre><code class="server-v1-url">{{ v1-url }}</code></pre>
                                        </a>
                                    </div>
                                </div>
                                {{/if}}
                                {{#if v2-url }}
                                <div id="{{ id }}-v2" class="row">
                                    <div class="server-status col-12 col-md-3 col-lg-2"
                                        style="margin-top: auto; margin-bottom: auto;">
                                        V2 Base URL
                                        <span style="margin: 2px;">
                                            <span class="spinner-border spinner-border-sm text-dark" role="status">
                                            </span>
                                            <span class="status-ok"
                                                style="display: none; font-size: 11px; font-weight: bold; color: #00990d;">
                                                <span class="mdi--check-bold custom-bullet-point" style="margin: 0;"></span>200
                                            </span>
                                            <span class="status-not-authorized"
                                                style="display: none; font-size: 11px; font-weight: bold; color: #0010c5">
                                                <span class="mdi--lock custom-bullet-point" style="margin: 0;"></span>401
                                            </span>
                                            <span class="status-not-found"
                                                style="display: none; font-size: 11px; font-weight: bold; color:#c50000">
                                                <span class="mdi--alert-decagram custom-bullet-point" style="margin: 0;"></span>404
                                            </span>
                                        </span>
                                    </div>
                                    <div class="col-12 col-md-9 col-lg-10" style="margin-top: 8px;">
                                        <a target="_blank" href="{{ v2-url }}serverinfo">
                                            <pre><code class="server-v2-url">{{ v2-url }}</code></pre>
                                        </a>
                                    </div>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
                {{/each}}
            </ul>
        </div>
    </div>
</section>
<script type="text/plain" cookie-consent="strictly-necessary">

    $(document).ready(function () {
        var options = {
            valueNames: [ 'server-title', 'server-id', 'org-name', "server-v1-url", "server-v2-url" ]
        };

        var serverList = new List('servers-list', options); 
        serverList.sort('server-title');
        
        $('#list-size').html('Showing ' + serverList.visibleItems.length + ' of ' + serverList.size());
        serverList.on('searchComplete', function(e){
            $('#list-size').html('Showing ' + serverList.visibleItems.length + ' of ' + serverList.size());
        });

        serverList.toJSON().forEach(server => {
            try{
                var serverStr = JSON.stringify(server);
                var req = {
                    method: 'POST', 
                    body: serverStr,
                    headers: {
                        "Content-Type": "application/json",
                    }
                }
                fetch("/api/testEndpoint", req)
                .then(response => response.json())
                .then(data => {
                    setServerStatus(data['v1Res'], server['server-id'] + '-v1')
                    setServerStatus(data['v2Res'], server['server-id'] + '-v2')
                })
                .catch(error => {
                    console.log(error)
                    $('#' + server['server-id'] + '-v2 .spinner-border').hide() 
                    $('#' + server['server-id'] + '-v2 .status-not-found').show()
                });
            }catch (error){
                $('#' + server['server-id'] + '-v1 .spinner-border').hide() 
                $('#' + server['server-id'] + '-v1 .status-not-found').show() 
            }
        });
    });

    function setServerStatus(res, id){
        $('#' + id + ' .spinner-border').hide() 
        if(res.status == 200){
            $('#' + id + ' .status-ok').show() 
        }else if(res.status == 401){
            $('#' + id + ' .status-not-authorized').show() 
        }else if(res.status == 404){
            $('#' + id + ' .status-not-found').show() 
        }else {
            $('#' + id + ' .status-not-found').show() 
        }
    }

</script>