<section class="module-small" id="get-started-intro">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-4 col-md-3 col-xl-2" id="menu">
                    {{!-- <div>
                        <p><a class="btn btn-d btn-round col-sm-12" target="_blank"
                                href="https://forms.gle/YhfyQphw75u8BuJu9">Register</a>
                        </p>
                    </div> --}}
                    <div>
                        <button id="toggle-overview" class="btn btn-round col-sm-12" type="button"
                            onclick="toggleVisibleXor('overview-section', ['agenda-section', 'attendees-section', 'projects-section', 'notes-section'])">Overview</button>
                    </div>
                    <div>
                        <button id="toggle-agenda" class="btn btn-round col-sm-12" type="button"
                            onclick="toggleVisibleXor('agenda-section', ['overview-section', 'attendees-section', 'projects-section', 'notes-section'])">Agenda</button>
                    </div>
                    <div>
                        <button id="toggle-attendees" class="btn btn-round col-sm-12" type="button"
                            onclick="toggleVisibleXor('attendees-section', ['overview-section', 'agenda-section', 'projects-section', 'notes-section'])">Attendees</button>
                    </div>
                    <div>
                        <button id="toggle-projects" class="btn btn-round col-sm-12" type="button"
                            onclick="toggleVisibleXor('projects-section', ['overview-section', 'agenda-section', 'attendees-section', 'notes-section'])">Project
                            List</button>
                    </div>
                    <div>
                        <button id="toggle-notes" class="btn btn-round col-sm-12" type="button"
                            onclick="toggleVisibleXor('notes-section', ['overview-section', 'agenda-section', 'attendees-section', 'projects-section'])">Notes
                            and Recordings</button>
                    </div>
                </div>

                <div class="col-sm-8 col-md-9 col-xl-10" id="content">
                    <div id="overview-section" style="display: block;">

                        {{!-- <h3 class="font-alt" id="title"> Register </h3> --}}
                        <div style="margin-left:10px"> 
                            <p>
                            <strong>When: </strong> April 25-29, 2022<br/>
                            <strong>Where: </strong> Virtual<br/>
                            Join the BrAPI community for two weeks of fun as we hack code together and discuss the
                                future of BrAPI. This virtual event will run from April 25-29, 2022. Everyone in the BrAPI
                                community is welcome! Please register to receive meeting invitations and other important
                                information. 
                                </p>
                            {{!-- <p><a class="btn btn-d btn-round" target="_blank"
                                    href="https://forms.gle/YhfyQphw75u8BuJu9">Register</a>
                            </p> --}}
                            
                            <p>Registration CLosed</p>
                        </div>

                        <h3 class="font-alt" id="title"> Overview </h3>
                        <div style="margin-left:10px">
                            <p>The BrAPI Community Hackathon is an event focused on bringing together the BrAPI community. This weeklong event will reserve time for the members of the community to discuss the BrAPI specification, collaborate on projects, socialize and learn from each other. The hackathon is largely self-organizing project work time, with a few scheduled public discussion sessions addressing important community topics. The overall goal is to be as productive as possible in a small window of time, to explore ideas and start on collaborative projects that can be more formally developed after the event. </p>
                            <p>Due to the COVID-19 pandemic, it is not possible to bring everyone together in person, so the BrAPI Hackathons have gone virtual. Based on the feedback from the first virtual hackathon in March, the ideal plan would be a mix of virtual and in-person events, when international travel becomes possible again. For now, expect virtual BrAPI hackathons every 6 months to maintain momentum and growth of the community. </p>
                            <p>One major take away from the past virtual hackathons was that attendees were feeling distracted by other work. If you can, try to reserve the whole week in your schedule so normal work does not intrude on the project work time. Of course, deadlines and emergencies happen, and BrAPI will not always be the top priority. This is just a reminder that you will get more out of the virtual hackathon experience if you can dedicate the time to focus on it. </p>
                        </div>

                    </div>

                    <div id="agenda-section" style="display: none;">
                        <h3 class="font-alt" id="title"> Agenda </h3>
                        <div style="margin-left:10px">
                            <p>This event will take place from April 25-29, 2022. There will be two sessions per day to accommodate many different time zones. Attendees are welcome to attend any and all sessions.
                            <ul>
                                <li> <span style="background-color: #d6e6ff;">Discussion Session #1:</span>  every day from 08:00 UTC to 11:00 UTC <a target="_blank" href="https://www.google.com/search?q=08%3A00+UTC"> (Click for local time) </a> </li>
                                <li> <span style="background-color: #f3d6ff;">Discussion Session #2:</span>  every day from 16:00 UTC to 19:00 UTC <a target="_blank" href="https://www.google.com/search?q=16%3A00+UTC"> (Click for local time) </a> </li>
                                <li> <span style="background-color: #deffd6;">Collabrative project work time:</span> All day, every day of the hackathon</li>
                            </ul>
                            This agenda is subject to change without warning, please check back regularly. If you have a discussion topic you would like to address with the rest of the BrAPI Community, please contact the BrAPI Coordinator. 
                            Project work time is assumed to be happening all day, the agenda is only to organize community discussions. To get the most out of the hackithon expirience, please try to reserve the whole week to participate 
                            in colabrative development projects. 
                            </p>

                            <div>
                            {{#each hackathonData.agenda}}
                                <div class="col-sm-12 no-pad agenda-date">{{date}}</div>
                                <div class="col-sm-12 agenda-bg-green">
                                    <div class="col-sm-11" style="padding: 0 0 0 10px">
                                        <div class="col-sm-2 no-pad">{{projectTime.[0]}}</div>
                                        <div class="col-sm-10 no-pad">Collabrative project work time</div>
                                    </div>
                                    <div class="col-sm-11 agenda-bg-blue">
                                        <p class="agenda-row"> {{sessions.[0].session}} </p>
                                        {{#each sessions.[0].discussions}}
                                            <div class="agenda-row">
                                                <div class="col-sm-2 no-pad">{{time}}</div>
                                                <div class="col-sm-10 no-pad">{{title}}
                                                {{#if lead}}<br/>Discussion Lead: {{lead}}{{/if}}</div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="col-sm-11" style="padding: 0 0 0 10px">
                                        <div class="col-sm-2 no-pad">{{projectTime.[1]}}</div>
                                        <div class="col-sm-10 no-pad">Collabrative project work time</div>
                                    </div>
                                    <div class="col-sm-11 agenda-bg-pink">
                                        <p class="agenda-row"> {{sessions.[1].session}} </p>
                                        {{#each sessions.[1].discussions}}
                                            <div class="agenda-row">
                                                <div class="col-sm-2 no-pad">{{time}}</div>
                                                <div class="col-sm-10 no-pad">{{title}}
                                                {{#if lead}}<br/>Discussion Lead: {{lead}}{{/if}}</div>
                                            </div>
                                        {{/each}}
                                    </div>
                                    <div class="col-sm-11" style="padding: 0 0 0 10px">
                                        <div class="col-sm-2 no-pad">{{projectTime.[2]}}</div>
                                        <div class="col-sm-10 no-pad">Collabrative project work time</div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                    </div>

                    <div id="attendees-section" style="display: none;">
                        <h3 class="font-alt" id="title"> Attendees List </h3>
                        <div style="margin-left:10px">                            
                            <table>
                                <tr><th class="agenda">Session #1</th></tr>
                                {{#each hackathonData.session1List}}
                                <tr>  <td class="agenda">{{name}}</td> <td class="agenda">{{email}}</td> <td class="agenda">{{org}}</td>  </tr>
                                {{/each}}

                                <tr><th class="agenda">Session #2</th></tr>
                                {{#each hackathonData.session2List}}
                                <tr>  <td class="agenda">{{name}}</td> <td class="agenda">{{email}}</td> <td class="agenda">{{org}}</td>  </tr>
                                {{/each}}
                            </table>
                        </div>

                    </div>

                    <div id="projects-section" style="display: none;">
                        <h3 class="font-alt" id="title"> Project List </h3>
                        <div style="margin-left:10px">
                            <p>Projects are listed in the order they were recieved in the registration from. If you would like to edit any of the infomration below, please contact the BrAPI Coordinator.</p>

                                {{#each hackathonData.projects}}
                                {{#if title}}<div class="col-sm-12" style="font-weight: bold; margin: 15px 0 1px 0;"> {{title}}</div>
                                {{else}}<div class="col-sm-12" style="font-weight: bold; margin: 15px 0 1px 0;"> Project Title TBD</div>{{/if}}
                                <div class="col-sm-12">  
                                    {{#if team}}<div class="col-sm-12"> <span style="font-weight: bold;">Team: </span>{{team}}</div>{{/if}}
                                    {{#if repo}}<div class="col-sm-12"> <span style="font-weight: bold;">Repository: </span><a target="_blank" href="{{repo}}">{{repo}}</a></div>{{/if}}
                                    <div class="col-sm-12"> <span style="font-weight: bold;">Project Description: </span>{{description}}</div>
                                    {{#if needs}}<div class="col-sm-12"> <span style="font-weight: bold;">This teams needs: </span>{{needs}}</div>{{/if}}
                                </div>
                                {{/each}}
                        </div>
                    </div>


                    <div id="notes-section" style="display: none;">
                        <h3 class="font-alt" id="title"> Meeting Notes and Recordings </h3>
                        <div style="margin-left:10px">                                    
                            {{#each hackathonData.notes}}
                            {{#if discussion}}
                            <div class="col-sm-12" style="margin: 15px 0 0 0">  
                                <span style="">{{discussion}} </span>
                                <div style="margin: 0 0 0 15px">  
                                    {{#if nothing}} -- {{else}}
                                        {{#if slides}} <a href="{{slides}}" target="_blank"><span class="mdi mdi-presentation fa-lg" style="margin: 0 2px 0 5px;"></span>Slides</a>{{/if}}
                                        {{#if meetingNotes}} <a href="{{meetingNotes}}" target="_blank"><span class="mdi mdi-google-drive fa-lg" style="margin: 0 2px 0 5px;"></span>Meeting Notes</a>{{/if}}
                                        {{#if session1}} <a href="{{session1}}" target="_blank"><span class="mdi mdi-youtube fa-lg" style="margin: 0 2px 0 5px;"></span>Session #1</a>{{/if}}
                                        {{#if session2}} <a href="{{session2}}" target="_blank"><span class="mdi mdi-youtube fa-lg" style="margin: 0 2px 0 5px;"></span>Session #2</a>{{/if}}
                                    {{/if}}
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>